:root {
  --body-bg-color: #22212c;
  --text-color: #837e9f;
  --text-color-hover: #a9a5bb;
  --bg-cards: #302f3d;
  --bg-techs: #cb92b1;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Merriweather Sans', sans-serif;
  background: var(--body-bg-color);
  color: var(--text-color);
}

h1 {
  font-size: 1.4375rem;
}

a {
  text-decoration: none;
  color: var(--text-color);
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  margin: 40px;
  gap: 60px;
  justify-content: center;
}

.card {
  padding: 32px 0px;
  background: var(--bg-cards);
  border-radius: 20px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  margin-bottom: 30px;
}

.profile-title {
  font-size: 1.25rem;
  padding-left: 20px;
  padding-bottom: 20px;
}

.feed-title {
  font-size: 1.25rem;
  padding-left: 30px;
}

@media (max-width: 800px) {
  .grid-container {
    grid-template-columns: 1fr;
  }
}
