.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.profile img {
  width: 128px;
  margin-bottom: 30px;
  border: 3px solid #cb92b1;
  border-radius: 50%;
}

.profile span {
  margin-top: 10px;
  font-size: 0.8125rem;
  font-weight: 400;
  text-align: center;
}
